{% extends "homepage.html" %}
{% block content %}

{{ info.query }}

{% if info.err is defined %}

<h2>Error</h2>
<div>
  {{ info.err|safe }}
  <p>
  Either modify your search above or go <input type=button value="Back" onClick="history.go(-1)">
</div>

{% else %}


<h2>Classical Bogus</h2>
<p>This is the classical highest weight bogus of type {{info.common}}.
  Its official name is {{info.name}}.  Its rank is {{info.rank}} and
  its value is {{info.value}}.  (Note: there were {{info.nres}}
  results returned from this search.)</p>

{% endif %}

{% endblock %}
