{% extends "homepage.html" %}

{% block content %}

{% if info.err is defined %}

<h2>Error</h2>
<div>
  {{ info.err|safe }}
  <p>
  Either modify your search above or go <input type=button value="Back" onClick="history.go(-1)">
</div>

{% else %}

<style type="text/css">
table th.center {
  text-align: center;
}
table th.left {
  text-align: left;
}
table th.right {
  text-align: right;
}
table td.center {
  text-align: center;
}
table td.left {
  text-align: left;
}
table td.right {
  text-align: right;
}
table td.params {
  text-align: left;
  font-family: monospace;
}
</style>

<h2>Classical Bogus Results ({{info.report}})</h2>

<table>
<tr>
  <th class="left">Full name</th>
  <th class="left">Common name</th>
  <th class="right">Rank</th>
  <th class="right">Value</th>
</tr>
{% for bog in info.results: %}
<tr>
<td class="left">{{bog.name}}</td>
<td class="left">{{bog.common.replace("_"," ")}}</td>
<td class="params">{{bog.rank}}</td>
<td class="params">{{bog.value}}</td>
</tr>
{% endfor %}
</table>

{% endif %}

{% endblock %}
